{% set domain = item.name %}
; {{ ansible_managed }}
{% block head %}
$TTL 30
@            IN  SOA     ns1.kal3a.tld.    hostmaster.kal3a.tld. (
       {{ serial }}     ; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
{% endblock %}

{% block ns %}
            IN  NS      ns1.kal3a.tld.
{% endblock %}

{% block mx %}
{% endblock %}

{% block spf %}
{% endblock %}

{% block records %}
{% endblock %}
