{% set domain = item.name %}
; {{ ansible_managed }}
{% block head %}
$TTL 4h
$ORIGIN {{ domain }}.
@           IN  SOA     ns1.example.com.    hostmaster.example.com. (
                {{ serial }}    ; serial
                4h      ; refresh (4 hours)
                1h      ; retry (4 hours)
                2w      ; expire (2 weeks)
                1h      ; minimum (1 hour)
                )
{% endblock %}

{% block ns %}
            IN  NS      ns1.example.com.
            IN  NS      ns2.example.com.
{% endblock %}

{% block mx %}
{% endblock %}

{% block spf %}
            IN  TXT     "v=spf1 a mx -all"
{% endblock %}

{% block records %}
            IN  A       1.2.3.4
www         IN  CNAME       @
{% endblock %}
