{% extends "base.j2" %}

{% set serial = '2014030301' %}

{% block records %}
{{ super() }}
{% for host in groups['all'] %}
{{ hostvars[host].PrivateIpAddress | replace("10.1.3.", "") }}       IN  PTR      {{ hostvars[host].PrivateDnsName | replace(".eucalyptus.internal", "") }}.kal3a.tld.
{% endfor %}
{% endblock %}
