{% extends "base.j2" %}

{% set serial = '2014030301' %}

{% block records %}
{{ super() }}
{% for host in groups['tag_bastion_True'] %}
ns1.kal3a.tld.          IN      A       {{ hostvars[host].ec2_private_ip_address }}
{% endfor %}
{% for host in groups['all'] %}
{{ hostvars[host].ec2_private_dns_name | replace(".eucalyptus.internal", "") }}.kal3a.tld.        IN  A       {{ hostvars[host].ec2_private_ip_address }}

{% endfor %}
{% for host in groups['tag_service_mysql'] %}
_mysql._tcp 86400 IN SRV 0 0 3306 {{ hostvars[host].ec2_private_dns_name | replace(".eucalyptus.internal", "") }}
{% endfor %}

{% for host in groups['tag_service_couchdb'] %}
_couchdb._tcp 86400 IN SRV 0 0 5984 {{ hostvars[host].ec2_private_dns_name | replace(".eucalyptus.internal", "") }}
{% endfor %}

{% for host in groups['tag_service_elasticsearch'] %}
_elasticsearch._tcp 86400 IN SRV 0 0 9200 {{ hostvars[host].ec2_private_dns_name | replace(".eucalyptus.internal", "") }}
{% endfor %}

{% for host in groups['tag_queue_rabbitmq'] %}
_rabbitmq._tcp 86400 IN SRV 0 0 5672 {{ hostvars[host].ec2_private_dns_name | replace(".eucalyptus.internal", "") }}
{% endfor %}
{% endblock %}
