#!/bin/sh

# Make sure to use all our CPUs, because Consul can block a scheduler thread
export GOMAXPROCS=`nproc`

# Get the public IP
BIND=`ifconfig eth0 | grep "inet addr" | awk '{ print substr($2,6) }'`

exec 2>&1
exec chpst -u consul /opt/consul/consul agent \
{% if hostvars[inventory_hostname].group_names | select("equalto", "consul_server") | list | length > 0 %}
  -server \
  -bootstrap-expect {{ groups['consul_server'] | length }} \
{% endif %}
  -config-dir="/etc/consul.d" \
  -data-dir="/var/consul" \
{% if groups['consul_server'] is defined %}
{% for host in groups['consul_server'] %}
  -join={{ hostvars[host].PrivateIpAddress }} \
{% endfor %}
{% endif %}
  -recursor=169.231.234.30 \
  -bind=$BIND \
  ${CONSUL_FLAGS}
